@{
    Layout = "_Layout";
}

@using System.Security.Claims

<h2>Authentication with Identity @Html.ActionLink("Home", "Index", "Home", null, new { @class ="pageLink4" })</h2>

<div class = "infoBox">
  @if (User.Identity.IsAuthenticated)
  {
    <h3>Hello @User.Identity.Name!</h3>
    
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn" value="Logout" />
    }
  }
  else
  {
    <h3>Register or Login to Your Account.</h3>
  
    @Html.ActionLink("Register", "Register", null, null, new { @class = "pageLink" })
    @Html.ActionLink("Login", "Login", null, null, new { @class = "pageLink" })
  }

  <img class = "image" src = "~/image/candy2.png"> 

</div>

