@{
  Layout = "_Layout";
}

@model SavorySweets.Models.Treat

<h2>Add Treat @Html.ActionLink("Home", "Index", "Home", null, new { @class ="pageLink4" })</h2>

<div class = "infoBox">
  @using (Html.BeginForm())
  {
    <h3>@Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "wordLink", required = "required" })
    </h3>
    <br>
    <input type = "submit" value = "Add Treat" class = "btn2" />
    @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
  }
  <img src = "~/image/candy10.png">
</div>
