@{
  Layout = "_Layout";
}

@model SavorySweets.Models.Treat

<div class = "container">
  <h2>Add Treat</h2>

  <div class = "infoBox">
    @using (Html.BeginForm())
    {
      <h3>@Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @class = "wordLink", required = "required" })
      </h3>
      <br>
      <input type = "submit" value = "Add Treat" class = "btn2" />
    }
    @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
  </div>
</div>