@{
  Layout = "_Layout";
}

@using SavorySweets.Models;

<h2>Treats List</h2>

@Html.ActionLink("Add Treat", "Create", null, null, new { @class = "pageLink" })
@Html.ActionLink("Home", "Index", "Home", null, new { @class = "pageLink" })

<div class = "indexBox">
  <img class = "image1" src = "~/image/candy6.jpg" >

  @if (@Model.Count == 0)
  {
    <h1>Treat List <br>is<br>EMPTY!</h1>
  } 
  else
  {
    <h3>Click on Treat to See Details</h3>
    @foreach(Treat treat in Model)
    {
      <li>@Html.ActionLink($"{ treat.Name }", "Details", new { id = treat.TreatId }, new { @class = "linkWordColor" }) 
      </li>
    }
  }
</div>   
