@{
  Layout = "_Layout";
}

@model SavorySweets.Models.Flavor

<div class = "container">
  <h2>Add Flavor</h2>

  <div class = "infoBox">
    @using (Html.BeginForm())
    {
      <h3>@Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { required = "required" , @class = "wordLink"})</h3>
      <br />
      <input type = "submit" value = "Add Flavor" class = "btn2" />
    }
    @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
  </div>
</div>