@{
  Layout = "_Layout";
}

@model PierreBakery.Models.Flavor

<div class = "container">
  <div class = "infoBox">
    <h2>Machine @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>

    <h3>Are you sure you want to <strong>DELETE</strong> this Flavor?</h3>
    <br/>
    @using (Html.BeginForm())
    {
      <input type = "submit" value = "Delete" class = "btn2"/>
    }
    @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
  </div>
</div>